{% extends 'base.html.twig' %}

{% block title %}Formulaire{% endblock %}

{% block body %}

{# this form theme will be applied only to the form of this template
{% form_theme form 'foundation_4_layout.html.twig' %} #}

<div class="row text-center">

    {{ form_start(form) }}
    {# <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div> #}

    <div class="row">

        {# permet de dégogger, afficher les informations #}
    {# {{dump(form)}} #}



    </div>
    {{ form_end(form) }}
</div>
{% endblock %}
